/* default.css - Simple stylesheet */

body {
    font-family: Arial;
    background-color: rgba(200, 203, 202, 0.703);
    text-align: center
}

h1, h2 {
    color: black;
    text-align: center
}

a {
    color: darkmagenta;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blue;
}