

body {
    font-family: Arial;
    background-color: rgba(200, 203, 202, 0.703);
    text-align: center
}

h1, h2 {
    color: black;
    text-align: center;
}

a {
    color: rgb(0, 128, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}
ul {
  margin-top: 5px;     
  margin-bottom: 15px;  
  padding-left: 20px;   
  list-style-position: inside;
}

ul li {
  margin-bottom: 8px;   
}