<h1>Connor Lewis's Crafty Llama || ITIS3135 Home</h1>


<nav>
    <a href="https://clewis94.github.io/">Home</a>
    ||
    <a href="https://webpages.charlotte.edu/clewis94/itis3135/introduction.html">Introduction</a>
    ||
    <a href="https://webpages.charlotte.edu/clewis94/itis3135/contract.html">Contract</a>
</nav>


<nav>
    <a href="https://webpages.charlotte.edu/clewis94/itis3135/stuff/website_evaluations.html">Website Evaluations</a>
	||
	<a href="https://webpages.charlotte.edu/clewis94/itis3135/stuff/cRaPPy%20wEbPage%21%21.htm">Crappy Webpage</a>
    ||
    <a href="https://itis3135-react-sage.vercel.app/">itis3135-react</a>
</nav>